
<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<div class="body">
<% if session[:user_id] %>
        <p>you are login</p>
      <%= form_for @post, url: '/posts/create' do |f| %>
     <div class= "content">
          <%= f.label :title %>
          <%= f.text_field :title %>
          <%= f.label :content %>
          <%= f.text_field :content %>
        
          <%= f.submit %>
     
        <%end%>
        </div>
        <div>
         <% @posts.each do |post| %>
         　
         <p>
          <a href="/posts/show"> <%= post.title %></a> likes:
                    
               <% if current_user.liked_by?(post.id) %>
                <td>いいねを外す</td>
               <% else %>
                 <td>いいね</td>
               <% end %>
        <%end%>
        </div>
<% else %>
   <p>you neen to <%= link_to "login","/login"%> to create a post. </p>
         
         
        
<% end %>

